/* typefaces start */
@font-face {
    font-family: 'beatrice_displaybold';
    src: url('beatricedisplay-bold-webfont.woff2') format('woff2'),
         url('beatricedisplay-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'beatrice_displaybold_italic';
    src: url('beatricedisplay-boldit-webfont.woff2') format('woff2'),
         url('beatricedisplay-boldit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 
@font-face {
    font-family: 'beatriceregular';
    src: url('beatrice-regular-webfont.woff2') format('woff2'),
         url('beatrice-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatriceregular_italic';
    src: url('beatrice-regularitalic-webfont.woff2') format('woff2'),
         url('beatrice-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatricelight';
    src: url('beatrice-light-webfont.woff2') format('woff2'),
         url('beatrice-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatricelight_italic';
    src: url('beatrice-lightitalic-webfont.woff2') format('woff2'),
         url('beatrice-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatricethin';
    src: url('beatrice-thin-webfont.woff2') format('woff2'),
         url('beatrice-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'beatricethin_italic';
    src: url('beatrice-thinitalic-webfont.woff2') format('woff2'),
         url('beatrice-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* typefaces end */


/*highlight text colour*/

::-moz-selection { background: yellow; }
::selection { background: yellow; }
/*highlight text colour end*/

body {
    margin:0;
    background:white;
    color:#FF00BA;
    font-family:beatricelight;
    font-size:11pt;
    font-kerning:normal;
    line-height:14.5pt;
    padding: 0px;
    overflow-x:hidden;
    cursor: -webkit-image-set(url(../Logos/arrow.svg) 2.5x ) 33 19, auto;
}

/*#masked{
    position:fixed;
    left:40vw;
    top:33vw;
    z-index:100000;
}*/

a {
    color:#FF00BA;
    text-decoration: none;
    cursor: -webkit-image-set(url(../Logos/logocursor.svg) 2.5x ) 33 19, pointer;
}

header  {
    position:fixed;
    left:1em;
    top:1em;
    mix-blend-mode: multiply;
    z-index:-6;
}
 
footer  {
    position:fixed;
    transform:rotate(180deg);
    bottom:1em;
    right:1em;
    z-index:-5; 
    mix-blend-mode: multiply;
}

.navigation {
    position:fixed;
    left:-2px;
    top:12em;
    z-index:1000 !important;
/*    background:white;*/  
    padding-left:1em;
    padding-top:1em;
    padding-bottom:1em;
    line-height:13pt;
/*    border:2px solid #FF00BA;
    border-radius:2px;*/
}

h1 {
    font-family: 'beatrice_displaybold';
    font-size:75px;
    letter-spacing:1px;
    line-height: 75px;
    z-index:-6;
    mix-blend-mode: multiply;
    margin:0px;
}

h2 {
    font-size:1.75em;
    line-height:1.25em;
    font-kerning:auto;
    font-family:'beatriceregular';
    margin:0px;
    margin-top:15px;
}

h3 {
    font-family:beatricelight_italic;
    font-size:11pt;
    line-height:16pt;
    margin:0px;
    margin-top:0px;
}

h4{
    margin:0px;
    margin-top:1em;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dates-nav a{
    text-decoration:none;
    padding:5px 5px 2px 2px;
    margin-left:-2px;
    display:inline-block;
    width:50px;
}

.dates-nav a:hover{
    background:yellow;
}

.dates-nav .current {
    background:yellow;
    color:#FF00BA;
}
 
.current a{
    background:yellow;
    color:#FF00BA;
}
 
.sshelf {
    background:white;
    border:2px solid #FF00BA;
    border-radius:2px;
    width:80vw;
    height:30vw;
    margin:auto;
/*    left:20px;*/    
    padding:1vw 1vw 0;
    box-sizing:border-box;
    display:flex;
    justify-content:space-around;
    align-items: flex-end;
}

.sshelf-bar {
    background:#FF00BA;
    border-radius:2px;
    height:1.5vw;
    margin:auto;
    margin-top:-2px;
    width:86vw;
    z-index:-10;
}

#sshelf01 {
    margin-top:13.5em;
}

#sshelf02 {
    margin-top:-2px;
}

#sshelf03 {
    margin-top:-2px;
}

#sshelf03-1 {
    margin-top:-2px;
}

#sshelf03-2 {
    margin-top:-2px;
}

#sshelf03-3 {
    margin-top:-2px;
}

#sshelf03-4 {
    margin-top:-2px;
}

#sshelf04 {
/*    margin-top:-67px;
*/  margin-top:-2px;
    height:12vw;
    margin-bottom:100vh;
/*        z-index:10;
*/}

.information{
    padding:1vw 2vw 1vw 2vw;
}

#about {
    line-height:1.5em;
    color:white;
    font-size:2.12vw;
    font-family:beatricelight;
    padding-bottom:15px;
}

#rules {
    line-height:1.5em;
    color:yellow;
    padding-right:26.3vw;
}

.frankenstein {
    background:#FF00BA;
    border-radius:2px;
    height:3.5vw;
    margin:auto;
    margin-top:15px;
    position:absolute;
    width:1.75vw;
    z-index:0;
}

#frank01{
    left: calc(10vw - 1.75vw - 5px);
    margin-top:25px;
}

#frank02{
    left: calc(90vw - 9px);
    margin-top:25px;
}

#frank03{
    left: calc(10vw - 1.75vw - 5px);
    margin-top:25px;
}

#frank04{
    left: calc(90vw - 9px);
    margin-top:25px;
}

#frank05{
    left: calc(10vw - 1.75vw - 5px);
    margin-top:25px;
}

#frank06{
    left: calc(90vw - 9px);
    margin-top:25px;
}

#frank07{
    left: calc(10vw - 1.75vw - 5px);
    margin-top:25px;
}

#frank08{
    left: calc(90vw - 9px);
    margin-top:25px;
}

/*.frankenstein {
    background:#FF00BA;
    border-radius:2px;
    height:3.5vw;
    margin:auto;
    margin-top:15px;
    width:83vw;
    z-index:-100;
}
*/


/*START OF PINK SHELF FOR ABOUT PAGE*/

.sshelfpink {
    background:#FF00BA;
    border:2px solid #FF00BA;
    border-radius:2px;
    width:80vw;
    height:30vw;
    margin:auto;
    padding:1vw 1vw 0;
    box-sizing:border-box;
    display:flex;
    justify-content:space-around;
    align-items: flex-end;
}

.sshelfpink-bar {
    background:white;
    border-radius:2px;
    border:2px solid #ff00ba;
    height:1.5vw;
    margin:auto;
    margin-top:-2px;
    width:86vw;
    z-index:-10;
}

.frankensteinpink {
    background:white;
    border-radius:2px;
    border:2px solid #FF00ba;
    height:3.5vw;
    margin:auto;
    margin-top:15px;
    position:absolute;
    width:1.75vw;
    z-index:-4;
}

#frankpink01{
    left: calc(10vw - 1.75vw - 9px);
    margin-top:25px;
}

#frankpink02{
    left: calc(90vw - 10px);
    margin-top:25px;
}

/*END OF PINK SHELF FOR ABOUT PAGE*/

#readingweek{
    margin-left:43vw; 
    margin-top:42vh;
}

.logo{
    width:70vw;
    position:fixed;
    top:1.5vh;
    left:2vw;
/*    left:14vw;*/    
    z-index:-10;
    mix-blend-mode: multiply;
}

.book{
    vertical-align:bottom;
    /*background-color:#FF00BA;
    mix-blend-mode: multiply;*/
    margin:30px 10px 0vw 10px;
    box-shadow: 0px -5px 20px -5px lightgray;
}

.thumb{
    margin-bottom:-4px;   
    max-width:100%;
    height:auto;
/*    -webkit-filter: grayscale(100%);*/
    opacity:1;
/*    mix-blend-mode: screen;
*/}

/* this is the interior pop up section for every book */
.hidden {
    display:none;
    width:auto;
    max-width:375px;
    height:auto;
    max-height:600px;
    background:white;
    border:1px solid #FF00BA;
    border-radius:2px;
    position:fixed;
    padding:1em;
    padding-top:0em;
    z-index:1000;
    mix-blend-mode: normal;
}

.hidden-int {
    display:grid;
    grid-template-columns:300px 1fr;
    z-index:1000;
}

.book:hover{
    background:#FF00BA;
}

.book:hover .thumb{
    -webkit-filter: grayscale(100%);
    opacity:1;
    background:#FF00BA;
    mix-blend-mode: screen;
}


.book:hover .hidden{
    display:block;
    z-index:1000;
    opacity:1;
}

.big {
    max-width:300px;
    z-index:1000;
}

/* this is adjusting the book size depending on the book*/

#situation{
    max-width:14vw;
}

#type60{
    max-width:12vw;
}

#aiga1967{
    max-width:17vw;
}

#anewprogram{
    max-width:14vw;
}

#debest{
    max-width:19vw;
}

#capstone{
    max-width:13vw;
}

#louie{
    max-width:18vw;
}

#exoticpet{
    max-width:17vw;
}

#tshirt{
    box-shadow:none;
    max-width:70vw;
}

#livorno{
    box-shadow:none;
    max-width:35vw;
}

#basictailoring{
    max-width:19vw;
}

#drawpaint{
    max-width:10vw;
}

#manic{
    max-width:11vw;
}

#emisrock{
    box-shadow:none;
    max-width:9vw;
}

#gridsys{
    max-width:16.5vw;
}

#politics{
    max-width:12vw;
}

#diagrams{
    max-width:16vw;
}

#uncorporate{
    max-width:17.5vw;
}

#NYC-Atlas{
    max-width:16vw;
}

#TypeImageMes{
    max-width:21vw;
}

#formist{
    max-width:18vw;
}

#statement {
    max-width:12vw;
}

#zines{
/*this one isnt working?!?!?*/    
    max-width:18.1vw;
}

#eyeondes5{
    max-width:15vw;
}

#frontier{
    max-width:19vw;
}

#curiosity {
    max-width:18vw;
}

#csignals {
    max-width:14vw;
}

#auto {
    max-width:23vw;
}

#brainstorm {
    max-width:22vw;
}

#dearx {
    max-width:15vw;
}

#definition{
    max-width:17vw;
}

#themother{
    max-width:13vw;
}

#gradexform{
    max-width:17.5vw;
}

#shapeofdesign{
    max-width:11.5vw;
}
 
#nursehilary{
    max-width:10vw;
}

#livemag{
    max-width:16vw;
}

#svathesis{
    max-width:12vw;
}

#standouglas{
    max-width:12vw;
}

#kerrytribe{
    max-width:13.7vw;
}

#jimmyrobert{
    max-width:12.9vw;
}

#rose{
    max-width:30vw;
    box-shadow:none;
    margin-bottom:-23vw;
    mix-blend-mode: multiply;
}

#mirrorbarcode{
    max-width:12vw;
}

#colourink{
    max-width:10vw;
}

#ninetynineU{
    max-width:17vw;
}

#realfolkblues{
    max-width:12.5vw;
}

#designthinkers{
    max-width:15vw;
}

#anewtradition{
    max-width:19vw;
}

#holestory{
    max-width:16vw;
}

#businesscards{
    max-width:19vw;
    box-shadow:none;
}

#USB{
    max-width:19vw;
}

#gradex2014{
    max-width:14.5vw;
}

#athame{
    max-width:14vw;
}

#arrivals{
    max-width:18.45vw;
}

#specimens{
    max-width:13vw;
}

#lostsheep{
    max-width:30vw;
}

#pixels{
    max-width:23vw;
}

#machinetakeover{
    max-width:12vw;
}

#journey{
    max-width:9vw;
}

#interacting{
    max-width:11vw;
}

#breakitdown{
    max-width:14vw;
}


/*BEG OF TOO NARROW CSS*/

@media (max-width:975px){

    .sshelf,
    .sshelfpink{
        margin-left: 14vw;
    }

    .sshelf-bar,
    .sshelfpink-bar{
        margin-left: 12vw;
        width:84vw;

    }

    .frankenstein,
    .frankensteinpink{
        display:none;
    }
}

/*END OF TOO NARROW CSS*/

/*BEG OF MOBILE DEVICE CSS*/

@media (max-width:480px) {

    html, body {
        overflow-x: hidden;
/*        background:#FF00BA;
*/    }

    body {
        position: relative;
/*        color:white;
*/        mix-blend-mode: multiply;
    }

/*    a{
        color:yellow;
    }*/

    h1{
        position:fixed;
        font-size:60px;
        line-height: 60px;
/*        color:yellow;
*/      z-index:-10!important;
        mix-blend-mode: multiply;
    }

    header,
    footer{
        position:fixed;
        z-index:-1!important;
        mix-blend-mode: normal;
        white-space:nowrap;
    }

    .navigation {
        position:fixed;
        margin-top:-5vh;
        z-index:-1!important;
    }

    .dates-nav a{
        display:block;
        position:relative;
/*        color:white;
*/    }

    li {
        float:left;
        margin-right:17px;
    }

    .sshelf,
    .sshelfpink{
        width:100vw;
        height:35vw;
        border-left:none;
        border-right:none;
        z-index:10!important;
        mix-blend-mode:normal;
        margin:auto;
        position:static;
    }

    .sshelf-bar,
    .sshelfpink-bar {
        width:110vw;
        margin-left:-5px;
        z-index:10!important;
        margin:auto;
    }

    .sshelfpink{
        height:35vh;
    }

    #about {
        line-height:1.4em;
        font-size:1.1em;
        padding-bottom:0px;
    }

    .frankenstein,
    .frankensteinpink {
        display:none;
    }

    #sshelf01{
        margin-top:17.5em;
    }

    #readingweek{
        margin-left:25vw;
        margin-top:36vh;
/*        margin:auto;
        margin-top:30vh;
        position:relative;
        mix-blend-mode: normal;
        z-index:50;
        color:yellow;*/
    }

    .logo{
        width:90vw;
        margin-left:3vw;
        top:35vh;
        z-index:-1;
        position:fixed;
/*        top:1.5vh;
        left:2vw;*/
    }

    .desktop-break{
        display:none;
    }

/* this is the interior pop up section for every book */
    .hidden {
        color:#FF00BA;
    }
}

/*END OF MOBILE DEVICE CSS*/
